body {
  cursor: url('coracao.png') 16 16, auto; /* 16 16 = hot spot (centro do cursor) */
  cursor: none; /* só enquanto o JS não rodar */
  background: black;
  margin: 0;
  overflow: hidden;
  touch-action: manipulation;
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.center-message {
  font-family: 'Courier New', monospace;
  color: #ff69b4;
  font-size: 6rem;
  text-align: center;
  opacity: 0.8;
  text-shadow: 0 0 10px rgba(255, 105, 180, 0.7);
}

@media (max-width: 768px) {
  .center-message {
    font-size: 3rem;
  }
}

.heart-cursor {
   position: fixed;
  width: 32px;
  height: 32px;
  pointer-events: none;
  z-index: 9999;
  filter: drop-shadow(0 0 4px #ff69b4);
  transition: transform 0.1s ease;
  transform-origin: center center;
}

#audio-control {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
